@charset "UTF-8";

.press-about-us {
    position: relative;
    padding: map_get($mq-container-indents, 'sx') / 2 0;
    background: {
        position: 50%;
        size: cover;
        repeat: no-repeat;
        image: url(../img/typewriter-bg.jpg);
    };

    .section__title {
        color: #fff;
    }


    @include mq(sx) {
        padding: map_get($mq-container-indents, 'sx') 0;
    }

    &::before {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.7);
        content: "";
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__slider {
        position: static !important; // overrides

        @include mq(sm) {
            margin-left: -.8rem;
            margin-right: -.8rem;
        }
    }


    &__item {
        padding: map_get($mq-container-indents, 'sx') / 4;
        background: #fff;

        @include mq(sx) {
            padding: map_get($mq-container-indents, 'sx') / 2 map_get($mq-container-indents, 'sx') map_get($mq-container-indents, 'sx');
        }
    }

    &__item-logo {
        margin-bottom: map_get($mq-container-indents, 'sx') / 2;

        > img {
            display: block;
            margin: 0 auto;
            width: auto;
            height: auto;
            vertical-align: top;
        }
    }

    &__item-content {
        .wysiwyg,
        &.wysiwyg {
            color: $color-base !important; // overrides

            @include mq(sx) {
                @include header-model-settings-h3(300);
            }

            p {
                &:not(:last-child) {
                    margin-bottom: map_get($mq-container-indents, 'sx') / 2;
                }
            }

            a.is-sm {
                margin-top: -1 * map_get($mq-indents, 'sm');
            }
        }
    }

    &__item-date {
        @include text-small;

        margin-top: map_get($mq-container-indents, 'sx') / 2;
        color: $color-light;
    }

    // overrides
    .slick-track {
        display: flex;
        align-items: stretch;
    }

    .slick-slide {
        display: flex !important; // overrides
        flex-direction: column;
        float: none;
        height: auto;

        > div {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .press-about-us__item {
                flex-grow: 1;
            }
        }
    }

    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        @include mq-custom(max, 912px) {
            top: 30px;
            transform: translateY(0);
        }
    }

    .slick-arrow.slick-prev {
        left: 0;
    }
    .slick-arrow.slick-next {
        right: 0;
    }

    .slick-dots {
        @include mq(sx) {
            margin-top: map_get($mq-container-indents, 'sx') / 2
        }
    }

    &--popup {
        padding: 0;
        background: none;

        &::before {
            content: none;
        }

        .press-about-us__item {
            padding: 0;
        }
    }
}
