@charset "UTF-8";

@if $enable-inputs == true {
    @keyframes rotate {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }

    .input {
        > input {
            @include text-base;

            display: block;
            padding: .8rem 1rem;
            width: 100%;
            line-height: 1.5;
            color: $color-base;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.09);
            outline: none;
            font-weight: 400;
            transition: box-shadow $transition-duration-base;
            -webkit-appearance: none;

            &[type="phone"] {
                &::placeholder {
                    color: $color-base;
                }
            }

            &::placeholder {
                color: $color-placeholder;
            }

            // input radius for safari
            &:hover,
            &:focus {
                box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.11);
            }

            &:disabled {
                opacity: .5;
            }

            .mod_flexboxtweener & {
                min-height: 4rem;
            }

            @if $enable-jquery-ui-datepicker == true {
                &.hasDatepicker {
                    &.hasDatepickerFocus {
                        // Styles
                    }
                }
            }
        }

        &__error-message {
            @include text-small;

            margin-top: map_get($mq-indents, 'sm') / 3;
            color: $color-error;
        }

        &.input--invalid {
            > input {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px $color-error;

                &:hover,
                &:focus {
                    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px $color-error;
                }
            }
        }

        &.input--heading {
            > input {
                font-size: 2.1rem;
                line-height: 1.52;
                font-weight: 400;
            }
        }

        &.input--update-button {
            position: relative;

            &:not(.is-load) {
                > input {
                    padding-right: 12rem;
                }

                > button {
                    @include interact(background-color, $color-lightest-secondary);

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 1rem;
                    display: inline-flex;
                    align-items: center;
                    border-top-right-radius: $border-radius-min;
                    border-bottom-right-radius: $border-radius-min;
                    cursor: pointer;
                    transition: background-color $transition-duration-base-min;

                    > .icon {
                        @include size(.8rem);

                        margin-right: map_get($mq-indents, 'sm') / 3;
                        fill: $color-cod-gray;
                    }

                    > span {
                        font-size: 1.6rem;
                        line-height: 1.25;
                        color: $color-cod-gray;
                    }
                }
            }

            &.is-load {
                > button {
                    display: none;
                }
            }
        }

        // icons
        &[data-icon] {
            &:not(.load-icon) {

            }
            position: relative;

            > input {
                padding-left: 4rem;
            }

            > svg {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
            }
        }

        // search
        &[data-icon="search"] {
            fill: $color-base;
        }

        > .load-icon {
            display: none;
        }

        &.is-load {
            position: relative;

            > input {
                padding-right: 4rem;
            }

            > .load-icon {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
                display: block;
                left: auto;
                animation: rotate 1s linear infinite;
            }
        }
    }

    .input-old {
        > input {
            display: block;
            height: 41px;
            padding: 0 14px;
            width: 100%;
            background: #fff;
            border: 1px solid #afb3b6;
            box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
            font-size: 18px;
            vertical-align: middle;
            outline: none;

            &::placeholder {
                color: $color-light;
            }

            &:focus {
                border-color: $brand-turquoise;
            }
        }

        &.input--invalid {
            > input {
                border-color: $color-error;
            }
        }
    }
}
